/* Styling on the home page */

body {
    background-color: #184A45FF;
}

#search-form {
    outline: 15px inset rgb(148, 180, 177);
    box-shadow: 65px 65px 10px black;
}

#search-title {
    font-family: 'Raleway', sans-serif;
}

#search-btn {
    background-color: black;
    font-weight: bold;
    color: white;
}

#search-btn:hover {
    background-color: rgb(148, 180, 177);
    color: black;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 592px) {
    #search-form {
        box-shadow: none;
    }

    #form-section {
        margin-left: auto;
        margin-right: auto;
    }
    
}

/* Styling on the search page */

#search-form-left {
    outline: 15px inset rgb(148, 180, 177);
    margin-left: 15px;
    margin-right: 2rem;
    margin-top: 14rem;
    margin-bottom: 10rem;
}

#results-title {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    margin-left: 2rem;
}

#results-container {
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.single-result {
    outline: 10px inset rgb(148, 180, 177);
    width: 90%;
    height: 100px;
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    #results-title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .single-result {
        margin-left: auto;
        margin-right: auto;
    }
    
}